.home-container > .one-stop-banner {
  height: 110px;
}

  .one-stop-banner > .logo {
    height: 80px;
  }

.home-container > .blah {
  height: 110vh;
}

.value > svg.svg-inline--fa {
  width: 4rem;
  height: 4rem;
}

.home-container .home-quote {
  font-family: 'Satisfy', cursive;
}