html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  color: #211f1c;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h3, p, a {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

/* UTILITIES */

  /* color */
  .white-text { color: white; }
  .gray-text { color: #bebebe; }

  /* spacing */
  .pt-2 { padding-top: 0.5rem; }
  .pt-3, .py-3 { padding-top: 1rem; }
  .pb-3, .py-3 { padding-bottom: 1rem; }
  .pt-4, .py-4 { padding-top: 1.5rem; }
  .pb-4, .py-4 { padding-bottom: 1.5rem; }

  .px-9 { padding-left: 4rem; padding-right: 4rem; }

  .mx-3 { margin-left: 1rem; margin-right: 1rem; }
  .mx-4 { margin-left: 1.5rem; margin-right: 1.5rem; }

  /* display */
  .d-flex { display: flex; }

  /* flex */
  .flex-column { flex-direction: column; }
  .align-items-center { align-items: center; }
  .justify-content-center { justify-content: center; }
  .justify-content-between { justify-content: space-between; }

  .flex-1 { flex: 1; }

  /* text */
  .text-center { text-align: center; }
  .text-justify { text-align: justify; }
  
  .text-bold { font-weight: bold; }

/*
  text: #211f1c;
  red:  #e41f26;
  blue: #1f26e4;
*/